

<% @orders.each do |order| %>
<p><% order.id %></p>
<p><% order.product.user_id %></p><br>

<p><% order.profile.address %></p>
<p><% order.profile.city %></p>
<p><% order.profile.state %></p>
<p><% order.profile.postcode %></p><br>

<p><% order.product.price %></p>

<% end %>