<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


<div class="contact">CONTACT US ♡ </div>

<%= form_tag contact_us_path, method: :get do %>
    <p>EMAIL:</p>
    <%= text_field_tag 'EMAIL', nil, class: "email_box"%> <br>
    <p>MESSAGE:</p>
    <%= text_area_tag 'MESSAGE', nil, class: "message_box" %><br>
     <%= submit_tag 'SEND MESSAGE', class: "submit_button" %>
   <% end %>