<div class="head">
<h1>Order your favourite cake with Keki, delivered </h1>
</div>

<div class="address">
<h4>Your address e.g. 120 Spencer St, Melbourne</h4>
</div>

<div class="boxed">
</div>

<div class="flex-container">
  <div><%= image_tag("landing_cake1.jpg", class: "cake") %></div>
  <div><%= image_tag("landing_cake2.jpg", class: "cake") %></div>
  <div><%= image_tag("landing_cake3.jpg", class: "cake") %></div>
</div>