/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

 @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

* { 
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    font-family: "Source Sans Pro";
    font-size: 14pt;
}

.hamburger_icon {
    padding: 5px;
    width: 70px;
    height: 70px;
}

.nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.content {    
text-align: center;
height: 300px;
color:#6F6158;
}

.menu {
    margin: -60px 30px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: #6F6158;
    margin: 0 10px;
    line-height: 70px;
}

.label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    /* display: none; */
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #F3EEE9;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
        position: relative;
    }

}

.logo {
    display: flex;
    align-self: center;
    max-height: 220px;
    max-width: 180px;
    margin: 30px auto;  
    /* margin: 50px 10px 20px 730px; */
}


/* .flex-container {
    display: flex;
    justify-content: center; 
    align-content: center;
    /* position: relative; */
    /* margin: 600px 30px 30px 20px 
  } */

/* .flex-container {
    display: flex; 
} */

    .head {
        font-family: 'Source Sans Pro';
        font-size: 17pt;
        text-align: center;
        color:#6F6158;
        margin-top: 60px;
        position: relative;
    }
    
    .container {
        width: 100%;
        padding: 25px;
        text-align: center;
        font-family: "Source Sans Pro";
        font-size: 14pt;
        color:#6F6158;
    }

    /* .address {
        text-align: left;
        color:#6F6158;
        background-color: #ffffff;
        text-align: center;
    } */
    
    /* .input {
        border: 5px solid #F3EEE9;
        /* width: 100%; */
        /* padding: 10px;
        margin: 5px;
        position: center;
     } */ 

     .cake_images {
         display: flex;
         flex-direction: row;
         justify-content: center; 
         flex-wrap: wrap;
     }

.cake {
        width: 240px;
        height: 350px;
        object-fit: cover;
        position: center;
        margin: 15px;
} 

