// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cake_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.cake_container > div {
  margin: auto;
  text-align: center;
  line-height: 20px;
  margin-top: 50px;
}

.footer {
  display: inline-block;
  margin-bottom: 50px;
  position: center;
}

.product_head {
  font-weight: bold;
  color: #6f6158;
  margin-top: -45pt;
  position: center;
  padding: 50pt;
  font-size: 20pt;
  line-height: 30pt;
}
