// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .stripe-button {
//     background-color: #6F6158;
//     border: none;
//     color: #F3EEE9;
//     padding: 20px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 16px;
//     margin: 4px 2px;
//     border-radius: 5px;
// }
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 50px 40px 80px;
    text-align: left;    
}

.footer {
    display: inline-block;
    margin-bottom: 50px;
    position: center;

}

    