// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 50px 40px 50px;
    text-align: center;    
    
    
}

.cake_image {
    flex-direction: row;
}